.btn-auth {
  background: linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  color: $white;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    color: $white;
    box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5) !important;
  }
}
