.text-light-shade {
  color: $light-shade !important;
}

.text-info-tint {
  color: $info-tint !important;
}

.bg-dark-shade {
  background-color: $dark-shade !important;
}

.bg-dark-tint {
  background-color: $dark-tint !important;
}

.bg-transparent {
  background-color: transparent !important;
}
