.b-sidebar {
  top: 80px;
  width: 500px;
  @media (min-width: 992px) {
    top: 100px;
  }
  &.slide {
    transition: transform 0.5s ease-in-out;
  }
}

.b-sidebar-body {
  background-color: $dark-tint;
}
