@for $i from 0 through 200 {
  .w--#{$i} {
    width: $i * 4px;
  }
}

.w-unset {
  width: unset;
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .w-lg--#{$i} {
      width: $i * 4px;
    }
  }

  .w-lg-auto {
    width: auto !important;
  }

  .w-lg-unset {
    width: unset !important;
  }
}

@for $i from 0 through 200 {
  .h--#{$i} {
    height: $i * 4px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .h-lg--#{$i} {
      height: $i * 4px;
    }
  }

  .h-lg-auto {
    height: auto !important;
  }
}

@for $i from 0 through 200 {
  .mw--#{$i} {
    max-width: $i * 4px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 200 {
    .mw-lg--#{$i} {
      max-width: $i * 4px;
    }
  }

  .mw-lg-auto {
    max-width: auto !important;
  }
}

@for $i from 0 through 100 {
  .mh-screen-n#{$i} {
    max-height: calc(100vh - (#{$i} * 4px));
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .mh-screen-lg-n#{$i} {
      max-height: calc(100vh - (#{$i} * 4px));
    }
  }
}

@for $i from 0 through 100 {
  .minw--#{$i} {
    min-width: $i * 4px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .minw-lg--#{$i} {
      min-width: $i * 4px;
    }
  }

  .minw-lg-auto {
    min-width: auto !important;
  }
}

@for $i from 0 through 100 {
  .mh--#{$i} {
    max-height: $i * 4px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .mh-lg--#{$i} {
      max-height: $i * 4px;
    }
  }

  .mh-lg-auto {
    max-height: auto !important;
  }
}

@for $i from 0 through 100 {
  .minh--#{$i} {
    min-height: $i * 4px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .minh-lg--#{$i} {
      min-height: $i * 4px;
    }
  }

  .minh-lg-auto {
    min-height: auto !important;
  }
}
