@for $i from 0 through 200 {
  .w--#{$i} {
    width: $i * 4px !important;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .w-lg--#{$i} {
      width: $i * 4px !important;
    }
  }

  .w-lg-auto {
    width: auto !important;
  }

  .w-lg-unset {
    width: unset !important;
  }
}

@for $i from 0 through 200 {
  .h--#{$i} {
    height: $i * 4px !important;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .h-lg--#{$i} {
      height: $i * 4px !important;
    }
  }

  .h-lg-auto {
    height: auto !important;
  }

  .h-lg-unset {
    height: unset !important;
  }
}

@for $i from 0 through 300 {
  .mw--#{$i} {
    max-width: $i * 4px !important;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 200 {
    .mw-lg--#{$i} {
      max-width: $i * 4px !important;
    }
  }

  .mw-lg-auto {
    max-width: auto !important;
  }
}

@for $i from 0 through 100 {
  .minw--#{$i} {
    min-width: $i * 4px !important;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .minw-lg--#{$i} {
      min-width: $i * 4px !important;
    }
  }

  .minw-lg-auto {
    min-width: auto !important;
  }
}

@for $i from 0 through 200 {
  .minh--#{$i} {
    min-height: $i * 4px !important;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 100 {
    .minh-lg--#{$i} {
      min-height: $i * 4px !important;
    }
  }

  .minh-lg-auto {
    min-height: auto !important;
  }
}

@include media-breakpoint-up(md) {
  .mw-md-unset {
    max-width: unset !important;
  }

  .minw-lg-auto {
    min-width: auto !important;
  }

  @for $i from 0 through 100 {
    .w-md--#{$i} {
      width: $i * 4px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6665%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3335%;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .col-custom-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

.min-h-screen {
  min-height: 100vh !important;
}

.w-unset {
  width: unset !important;
}

.h-unset {
  height: unset !important;
}

.minw-unset {
  min-width: unset !important;
}

.padding-bottom-2 {
  padding-bottom: 2% !important;
}

.padding-top-16-9 {
  padding-top: 56.25% !important;
}

@for $i from 0 through 100 {
  .pt-p-#{$i} {
    padding-top: $i / 100 * 100% !important;
  }
}

@include media-breakpoint-up(xl) {
  .w-xl-unset {
    width: unset !important;
  }
}
