.movie-thumbnail {
  position: absolute;
  top: 0;
  width: 206px;
  height: 296px;
  display: none;
  border: 1px solid $border-color;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-up(xl) {
    width: 251px;
    height: 361px;
  }
  @include media-breakpoint-up(xxl) {
    width: 296px;
    height: 426px;
  }
}

.search-container {
  background: url('../images/search-film-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: -webkit-linear-gradient(0deg, #0f5ae0 0%, #7400ba 100%);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.search-input-condition {
  background: rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-top: 1px solid $dark;
  border-bottom: 1px solid $dark;
}

.payment-hover:hover {
  color: $success !important;
}
