$fwn: 400;
$fwl: 300;
$fwb: 700;

$dark: #000;
$dark-tint: #0a1e5e;
$dark-tint-1: #032055;
$dark-shade: #001232;
$light-shade: #dbe2fb;
$info-tint: #6d7bba;
$info-tint-1: #7d78ff;
$success: #31d7a9;
$danger: #f00;
