$fwn: 400;
$fwl: 300;
$fwb: 700;

$secondary-tint: #eee;
$dark: #000;
$dark-tint: #2e5268;
$dark-shade: #839daa;
$light-shade: #dbe2fb;
$info-shade: #5f7783;
$info-tint: #6d7bba;
$success: #31d7a9;
$danger: #f00;
